.footerStyle {
    /*background: linear-gradient(to right,rgba(181,53,132,.95)0%,rgba(161,42,247,.8)20%, rgba(25,25,112,.95) 100%);*/
    background: linear-gradient(to right, rgba(25,25,112,.95) 0%, rgba(161,42,247,.8)20%, rgba(181,53,132,.95) 100%);
    color: var(--cf-light-color);
}

.footerStyle a {
    color: var(--cf-theme-200);
}

.footerStyle a:hover {
    color: var(--cf-theme-core);
}

.bi {
    font-size: 1.5rem;
    padding-inline-start: .5rem;
}
