@inject NavigationManager Navigation
@inject IJSRuntime JS

<nav class="navbar navbar-expand-lg navStyle" data-bs-theme="dark">
    <div class="container-xxl">

        <a href="/" class="me-3">
            <img src="/img/brand/MagicCodeSquareLogo.png" height="40" />
        </a>

        <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarContent" 
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu Links -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-house" />
                        <span>Home</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/now-playing">
                        <i class="bi bi-film" />
                        <span>Now Playing</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/popular">
                        <i class="bi bi-stars" />
                        <span>Popular</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/favorites">
                        <i class="bi bi-heart" />
                        <span>Favorites</span>
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

    private IDisposable? locationChangedHandler;

    protected override void OnInitialized()
    {
        // Note:  
        // RegisteringLocationChangingHandler (.NET 8+) is used to collapse the menu when navigating to a new page.
        // This is useful for mobile devices where the menu should close after a selection.
        // .NET 7 and earlier would use Navigation.LocationChanged event.
        locationChangedHandler = Navigation.RegisterLocationChangingHandler(OnLocationChanging);
    }

    public void Dispose()
    {
        locationChangedHandler?.Dispose();
    }

    // Alternativly, I could have set onclick="CollapseMenu" on the button element.
    // This method is more comprehensive and allows for more control.
    private async ValueTask OnLocationChanging(LocationChangingContext context)
    {
        await CollapseMenu();
    }

    private async Task CollapseMenu()
    {
        await JS.InvokeVoidAsync("collapseNavbar");
    }
}