@inject NavigationManager Navigation
@inject IJSRuntime JS

<nav class="navbar navbar-expand-lg navStyle" data-bs-theme="dark">
    <div class="container-xxl">

        <a href="/" class="me-3">
            <img src="/img/brand/MagicCodeSquareLogo.png" height="40" />
        </a>

        <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarContent" 
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu Links -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-house" />
                        <span>Home</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/now-playing">
                        <i class="bi bi-film" />
                        <span>Now Playing</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/popular">
                        <i class="bi bi-stars" />
                        <span>Popular</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/favorites">
                        <i class="bi bi-heart" />
                        <span>Favorites</span>
                    </NavLink>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <InputText class="form-control form-control-sm me-2" type="search" placeholder="Search Movies..." aria-label="Search" name="query" @bind-Value="Query" />
                <button class="btn btn-sm btn-light" type="button" onclick="@HandleSearch">Search</button>
            </form>
        </div>
    </div>
</nav>

@code {

    [SupplyParameterFromQuery]
    private string Query { get; set; } = string.Empty;

    private void HandleSearch()
    {
        if (!string.IsNullOrWhiteSpace(Query))
        {
            var encodedQuery = Uri.EscapeDataString(Query);
            Navigation.NavigateTo($"/search?query={encodedQuery}");
            Query = string.Empty;
        }
        else
        {
            Navigation.NavigateTo("/search?blank=true");
        }
    }

}