
<div class="card h-100 movie-card">
    <img src="@Movie?.PosterPath" alt="Movie Poster" class="card img-top" />
    <div class="card-body border border-top">
        <div class="card'title" fw-bold lh-1>
            @Movie?.Title
        </div>
        <div class="card-text lh-1 fst-italic">
            @{
                var releaseDate = Movie?.ReleaseDate;
                if (releaseDate != null)
                {
                    var date = DateTime.Parse(releaseDate);
                    <text>Release Date: @date.ToString("MMM d, yyyy")</text>
                }
                else
                {
                    <text>Release Date: N/A</text>
                }
            }
        </div>
    </div>
    <div class="movie-card-footer card-footer d-flex justify-content-between">
        <button class="btn btn-light">Add Fav</button>
        <a href="movieDetail" class="btn btn-dark">More Info</a>
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public Movie? Movie { get; set; }

}
