@page "/favorites"

<PageTitle>My Favorites</PageTitle>

<div class="container-xxl py-3">
    <h1>
        <i class="bi bi-heart text-danger" />
        Favorites
    </h1>
    <p class="lead italic">
        Movies that I love and have added to My Favorites.
    </p>
</div>


@code {

}

