.pageStyle {
    background: url(img/brand/LandingPageBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    font-family: var(--cf-title-font);
    font-size: 3rem;
    color: var(--cf-theme-100);
    line-height: 3rem;
}

.subTitle {
    font-size: 1.5rem;
    font-family: var(--cf-body-font);
    color: var(--cf-theme-150);
    line-height: 3rem;
}

body {
    color: var(--cf-rheme-100);
}

.devicons {
    font-size: 2rem;
}

.btn-home {
    --bs-btn-bg: var(--cf-theme-500);
    --bs-btn-border-color: var(--cf-theme-400);
    --bs-btn-hover-bg: var(--cf-theme-300);
    --bs-btn-hover-border-color: var(--cf-theme-900);
    --bs-btn-hover-color: var(--cf-theme-900);
    --bs-btn-active-bg: var(--cf-theme-500);
    --bs-btn-active-border-color: var(--cf-theme-500);
    --bs-btn-disabled-bg: var(--cf-theme-200);
    --bs-btn-disabled-border-color: var(--cf-theme-200);
}


@media (min-widthe: 992px) {
    .title {
        font-family: var(--cf-title-font);
        font-size: 3.5rem;
        color: var(--cf-theme-150);
        line-height: 3.5rem;
    }

    .subTitle {
        font-size: 2rem;
        font-family: var(--cf-body-font);
        color: var(--cf-theme-150);
        line-height: 3.5rem;
    }

    .devicons {
        font-size: 2.5rem;
    }
}