#movie-details {
    background: linear-gradient(rgba(2,2,2,0.5), rgba(0,0,0,0.9)),var(--background);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    fw-bolder;
}

    #movie-details h1,
    #movie-details h2,
    #movie-details h3,
    #movie-details h4,
    #movie-details h5 {
        color: var(--cf-theme-300);
    }


#movie-wrapper {
    backdrop-filter: blur(2px);
}

#movie-poster {
    border-radius: 15px;
    border-color: rgb(255,255,255,.6);
    border-width: 1px;
    max-width: 300px;
    width: 100%;
    height: auto;
}

.modal-background {
    background-color: var(--cf-theme-900);
    color: var(--cf-theme-100);
}

.modal-header button {
    color: var(--bs-warning);
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
