@page "/popular"

<PageTitle>Popular</PageTitle>

<div class="container-xxl py-3">
    <h1>
        <i class="bi bi-stars text-warning" />
        Poplular
    </h1>
    <p class="lead italic">
        Most popular movies currently in theaters.
    </p>
</div>


@code {

}
